//media

$desktop-large: '(min-width: 1200px)';
$desktop: '(min-width: 992px) and (max-width: 1199px)';
$tablet: '(min-width: 768px) and (max-width: 991px)';
$tablet-mobile: '(max-width: 991px)';
$mobile: '(max-width: 767px)';

//colors
$white: #ffffff;
$black: #0b0b0b;
$grey-dark: #2a2a2a;
$grey-light: #909090;
$green: #21bb62;
$green-light: #20b45e;
$blue: #413ebf;
$blue-dark: #292776;



